[core]
    pager = delta
	quotepath = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    syntax-theme = Catppuccin Frappe
    minus-style = syntax "#5e4856"
    minus-emph-style = syntax "#79535f"
    plus-style = syntax "#4e5b57"
    plus-emph-style = syntax "#5c6e5f"
    map-styles = bold purple => syntax "#564e6e", bold cyan => syntax "#4c5e6e"
    line-numbers-minus-style = "#e78284"
    line-numbers-plus-style = "#a6d189"
    line-numbers-zero-style = "#737994"
    hunk-header-decoration-style = box ul
    hunk-header-style = file line-number syntax bold
    file-style = "#c6d0f5" bold
    file-decoration-style = "#8caaee" ul ol

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	email = 180440441+RollandXD@users.noreply.github.com
	name = Rolland
[init]
	defaultBranch = main
